SMALLUMLMODELROOTBITMAP BITMAP LOADONCALL SmallUMLModelRoot.bmp
SMALLUMLCLASSBITMAP BITMAP LOADONCALL SmallUMLClass.bmp
SMALLUMLCLASSESBITMAP BITMAP LOADONCALL SmallUMLClasses.bmp
SMALLUMLATTRIBUTEBITMAP BITMAP LOADONCALL SmallUMLAttribute2.bmp
SMALLUMLATTRIBUTESBITMAP BITMAP LOADONCALL SmallUMLAttributes2.bmp
SMALLLISTBITMAP BITMAP LOADONCALL SmallList.bmp
SMALLUMLCLASSLISTBITMAP BITMAP LOADONCALL SmallUMLClassList.bmp
SMALLUMLATTRIBUTELISTBITMAP BITMAP LOADONCALL SmallUMLAttributeList.bmp
SMALLSYSTEMBITMAP BITMAP LOADONCALL SmallSystem.bmp
SMALLTYPEBITMAP BITMAP LOADONCALL SmallType.bmp


