/*
** BOLDMODELEDIT.RC
** (c)1997 BoldSoft AB, Sweden
*/
BOLDASSOCIATIONSEL BITMAP LOADONCALL "Bold Association Sel.bmp"
BOLDASSOCIATION    BITMAP LOADONCALL "Bold Association.bmp"
BOLDATTRSEL        BITMAP LOADONCALL "Bold Attr Sel.bmp"
BOLDATTR           BITMAP LOADONCALL "Bold Attr.bmp"
BOLDCLASSSEL       BITMAP LOADONCALL "Bold Class Sel.bmp"
BOLDCLASS          BITMAP LOADONCALL "Bold Class.bmp"
BOLDCLASSESSEL     BITMAP LOADONCALL "Bold Classes Sel.bmp"
BOLDCLASSES        BITMAP LOADONCALL "Bold Classes.bmp"
BOLDMETHODSEL      BITMAP LOADONCALL "Bold Method Sel.bmp"
BOLDMETHOD         BITMAP LOADONCALL "Bold Method.bmp"
BOLDROLESEL        BITMAP LOADONCALL "Bold Role Sel.bmp"
BOLDROLE           BITMAP LOADONCALL "Bold Role.bmp"
BOOKOPEN           BITMAP LOADONCALL BookOpen.bmp
DOOROPEN           BITMAP LOADONCALL DoorOpen.bmp
DIRECTORY          BITMAP LOADONCALL Directory.bmp
FILESAVE           BITMAP LOADONCALL FileSave.bmp
FOLDEROPEN         BITMAP LOADONCALL FolderOpen.bmp
IMPORT             BITMAP LOADONCALL Import.bmp
TABLE              BITMAP LOADONCALL Table.bmp


