/****************************************************************************
Elongated logotype for use in left pane of wizzards.
*****************************************************************************/
BOLDLEFTPANELOGO BITMAP "BoldLeftPaneLogo.bmp"

