TBoldAsCheckBoxStateRendererCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldAsCheckBoxStateRendererCom.bmp
TBoldAsFloatRendererCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldAsFloatRendererCom.bmp
TBoldAsIntegerRendererCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldAsIntegerRendererCom.bmp
TBoldAsViewerRendererCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldAsViewerRendererCom.bmp
TBoldAsStringRendererCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldAsStringRendererCom.bmp
TBoldAsMLStringRendererCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldAsMLStringRendererCom.bmp
TBoldCaptionControllerCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldCaptionControllerCom.bmp
TBoldChartCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldChartCom.bmp
TBoldCheckBoxCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldCheckBoxCom.bmp
TBoldComboBoxCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldComboBoxCom.bmp
TBoldControlGridCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldControlGridCom.bmp
TBoldEditCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldEditCom.bmp
TBoldGridCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldGridCom.bmp
TBoldImageCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldImageCom.bmp
TBoldLabelCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldLabelCom.bmp
TBoldListBoxCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldListBoxCom.bmp
TBoldListViewCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldListViewCom.bmp
TBoldMemoCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldMemoCom.bmp
TBoldNavigatorCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldNavigatorCom.bmp
TBoldProgressBarCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldProgressBarCom.bmp
TBoldRadioGroupCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldRadioGroupCom.bmp
TBoldRendererCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldRendererCom.bmp
TBoldRichEditCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldRichEditCom.bmp
TBoldTimePickerCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldTimePickerCom.bmp
TBoldTrackBarCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldTrackBarCom.bmp
TBoldTreeViewCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldTreeViewCom.bmp
TBoldXCVTreeViewCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldXCVTreeViewCom.bmp
TBoldDataSetCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldDataSetCom.bmp
TBoldDropTargetCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldDropTargetCom.bmp
TBoldPageControlCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldPageControlCom.bmp
TBoldPropertiesControllerCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldPropertiesControllerCom.bmp
TBoldStringsPropertyControllerCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldStringsPropertyControllerCom.bmp
TBoldExceptionHandlerCom BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldExceptionHandlerCom.bmp
                                           