/* Grid bitmaps */
BOLDGRID_CURRENT BITMAP LOADONCALL "..\..\..\Images\BoldGrid Current.bmp"
BOLDGRID_SELECTED BITMAP LOADONCALL "..\..\..\Images\BoldGrid Selected.bmp"
BOLDGRID_CONSTRAINT_TRUE BITMAP LOADONCALL "..\..\..\Images\BoldGrid Constraint True.bmp"
BOLDGRID_CONSTRAINT_FALSE BITMAP LOADONCALL "..\..\..\Images\BoldGrid Constraint False.bmp"

/* Navigator bitmaps */
BOLDNAV_DELETE BITMAP LOADONCALL "..\..\..\Images\BoldNavigator Delete.bmp"
BOLDNAV_FIRST BITMAP LOADONCALL "..\..\..\Images\BoldNavigator First.bmp"
BOLDNAV_LAST BITMAP LOADONCALL "..\..\..\Images\BoldNavigator Last.bmp"
BOLDNAV_INSERT BITMAP LOADONCALL "..\..\..\Images\BoldNavigator Insert.bmp"
BOLDNAV_NEXT BITMAP LOADONCALL "..\..\..\Images\BoldNavigator Next.bmp"
BOLDNAV_PRIOR BITMAP LOADONCALL "..\..\..\Images\BoldNavigator Prior.bmp"
BOLDNAV_MOVEUP BITMAP LOADONCALL "..\..\..\Images\BoldNavigator MoveUp.bmp"
BOLDNAV_MOVEDOWN BITMAP LOADONCALL "..\..\..\Images\BoldNavigator MoveDown.bmp"

/* Editbox bitmaps */
BOLDEDIT_ELLIPSIS BITMAP LOADONCALL "..\..\..\Images\BoldEdit Ellipsis.bmp"

