TBOLDSYSTEMHANDLECOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldSystemHandleCom.bmp
TBOLDEXPRESSIONHANDLECOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldExpressionHandleCom.bmp
TBOLDLISTHANDLECOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldListHandleCom.bmp
TBOLDSQLHANDLECOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldSQLHandleCom.bmp
TBOLDPLACEABLESUBSCRIBERCOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldPlaceableSubscriberCom.bmp
TBOLDFILTERCOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldFilterCom.bmp
TBOLDCOMPARERCOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldComparerCom.bmp
TBOLDVARIABLEHANDLECOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldVariableHandleCom.bmp
TBOLDREFERENCEHANDLECOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldReferenceHandleCom.bmp
TBOLDCURSORHANDLECOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldCursorHandleCom.bmp
TBOLDDERIVEDHANDLECOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldDerivedHandleCom.bmp
TBOLDVARIABLEDEFINITIONCOM BITMAP LOADONCALL ..\..\..\Images\ComponentsCom\TBoldVariableDefinitionCom.bmp
