TBOLDCOMSERVERHANDLE BITMAP LOADONCALL TBoldComServerHandle.bmp
TBOLDCOMSERVEROBJECTHANDLE BITMAP LOADONCALL TBoldComServerObjectHandle.bmp
TBOLDCOMCONNECTIONHANDLE BITMAP LOADONCALL TBoldComConnectionHandle.bmp
TBOLDCOMCLIENTOBJECTHANDLE BITMAP LOADONCALL TBoldComClientObjectHandle.bmp


