TBOLDIBALIASCREATOR BITMAP LOADONCALL TBoldIBAliasCreator.bmp
TBOLDSYSTEMACTIVATOR BITMAP LOADONCALL TBoldSystemActivator.bmp
TBOLDSAVETODATABASEBUTTON BITMAP LOADONCALL TBoldSaveToDatabaseButton.bmp
TBOLDNEWOBJECTINTERCEPTOR BITMAP LOADONCALL TBoldNewObjectInterceptor.bmp
TBOLDFORMSAVER BITMAP LOADONCALL TBoldFormSaver.bmp
NAMETRIMMER BITMAP LOADONCALL NameTrimmer.bmp
APPEVENTSRESTORER BITMAP LOADONCALL AppEventsRestorer.bmp
TBOLDSORTINGGRID BITMAP LOADONCALL TBoldSortingGrid.bmp
TBOLDCHECKLISTBOX BITMAP LOADONCALL TBoldCheckListBox.bmp
TBOLDSELECTIONLISTBOX BITMAP LOADONCALL TBoldSelectionListBox.bmp
