UMLPluginGenCodeImage Bitmap "import.bmp"
UMLPluginGenIDLImage Bitmap "GenIDL.bmp"
UMLPluginGenMIDLImage Bitmap "GenMIDL.bmp"
UMLPluginGenGUIDs Bitmap "GenGUIDs.bmp"
UMLPluginSaveImage Bitmap "FileSave.bmp"
UMLPluginGenDBImage Bitmap "Table.bmp"
UMLPluginImportImage Bitmap "import model.bmp"
UMLPluginExportImage Bitmap "export model.bmp"
UMLPluginStructureValidator Bitmap "UMLPluginStructureValidator.bmp"
UMLPluginDataValidator Bitmap "UMLPluginDataValidator.bmp"
UMLPluginModelUpdater Bitmap "UMLPluginModelUpdater.bmp"
UMLPluginDbEvolutor Bitmap "UMLPluginDbEvolutor.bmp"
TUMLOCLValidator Bitmap "TUMLOCLValidator.bmp"
UMLPluginGenPersistenceInterfaceImage BitMap "UMLPluginGeneratepersistenceInterfaces.bmp"
